:root {
	--white: #FFFFFF;
	--pink: #B279A7;
	--red: #9F2042;
	--gray: #EEE5E9;
	--green: #0B7A75;
}
#name {
	text-align: center;
	color: var(--pink);
}
body {
	background-color: var(--white);
	font-family: Arial, sans-serif;
}

#item-selection {
	width: 425px;
	border-style: solid;
	border-width: 2px;
	border-radius: 25px;
	padding: 10px;
	text-align: center;
	margin-left: 713px;

}

#quantity-input {
	margin: 5px;
}

#delivery, #pickup, #nameInput, #address, #membership, #address {
	margin: 3px;
}
